<div class="heading">
  <h1 class="display-4">
    Photo Search
  </h1>
</div>

<div class="main">
  <h2>Click button to fetch photos:</h2>
  <button (click)="fetchPhotos()">Go</button>
</div>

<div class=".container-fluid">
  <div class="row">
    <div
      *ngFor="let photo of photos"
      class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1"
      >
      <figure
        id="{{ photo.id }}"
        class="photo figure">
        <img
          src="{{ photo.thumbnailUrl }}"
          class="figure-img img-fluid rounded"
          alt="{{ photo.title }}">
        <figcaption class="figure-caption">{{ photo.title }}</figcaption>
      </figure>
    </div>
  </div>
</div>
