<div class="row">
  <div class="col-4">
    <button
      [disabled]="previousDisabled"
      class="btn btn-outline-info btn-md btn-block"
      (click)="previous.emit()"
      >
      Previous
    </button>
  </div>
  <div class="summary col-4">
    <p>
      Showing {{ firstDisplayed }} to {{ lastDisplayed }} <br />
      of <br />
      {{ totalPhotos }} photos
    </p>
  </div>
  <div class="col-4">
    <button
      [disabled]="nextDisabled"
      class="btn btn-outline-info btn-md btn-block"
      (click)="next.emit()"
      >
      Next
    </button>
  </div>
</div>
