/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

body {
  text-align: center;
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: $line-height-base;
}
